* {
    background: rgb(30, 167, 167);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: aliceblue;
    background-color: gray;
}

header{
    border-bottom: 10px solid black;
    padding-bottom: 40px;
}

h1 {
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 40px;
}

.hold {
    display: flex;
    flex-direction: row;
    display: inline;
    float: right;
    text-align: center;
    min-height: auto;
}

.button1 {
    width: 100px;
    height: 50px;
    border: none;
    color: aliceblue;
    background-color: gray;
    border-radius: 5px;
    transition: ease-out .5s;
    font-size: 15px;
}

.button1:hover {
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}

.image1 {
    margin: 5px 5px 5px 5px;
    max-width: 200px;
    max-height: 350px;
    border-radius: 8px;
}

.image {
    margin: 5px 5px 5px 5px;
    height: 350px;
    border-radius: 8px;
}

#pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
    border: 300px 300px 300px 300px;
}

#a2 :hover{
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    
}
footer {
    text-align: center;
}